<div class="container">
  <div class="row">
  {{!-- <div class="col-sm-4"> --}}
      <button class="box" id="1"><img class="w3-animate-zoom" src="/images/moneyButton2.JPG" id="iconBtn" width="100%"><span class="quiz-title">Finance Quiz</span></button>
      <button class="box" id="2"><img class="w3-animate-zoom" src="/images/foodButton2.JPG" id="iconBtn" width="100%"><span class="quiz-title">Diet Quiz</span></button>
      <button class="box" id="3"><img class="w3-animate-zoom" src="/images/fitnessButton2.JPG" id="iconBtn" width="100%"><span class="quiz-title">Fitness Quiz</span></button>
    {{!-- </div> --}}
  
    {{!-- <div class="col-sm-4">
      <button class="box" id="4"><img class="w3-animate-zoom" src="/images/carlock.PNG" id="iconBtn" width="200" height="175"></button>
      <button class="box" id="5"><img class="w3-animate-zoom" src="/images/houselock.PNG" id="iconBtn" width="200" height="175"></button>
     <button class="box" id="6"><img class="w3-animate-zoom" src="/images/lovelock.PNG" id="iconBtn" width="200" height="175"></button>
    </div>
  
    <div class="col-sm-4">
      <button class="box" id="7"><img class="w3-animate-zoom" src="/images/timelock.PNG" id="iconBtn" width="200" height="175"></button>
      <button class="box" id="8"><img class="w3-animate-zoom" src="/images/worklock.PNG" id="iconBtn" width="200" height="175"></button>
      <button class="box" id="9"><img class="w3-animate-zoom" src="/images/clotheslock.PNG" id="iconBtn" width="200" height="175"></button>
    </div> --}}
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>